<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Daily Journal</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/styles.css">
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
    </style>
  <nav class="navbar navbar-light bg-success">
    <div class="container">
      <div class="navbar-header">
        <p class="navbar-brand" style="text-decoration-color: none;text-decoration-line: none;"><a href="/home">DAILY JOURNAL</a></p>
      </div>
        <ul class="nav navbar-nav navbar-right">
          <!-- 6 -->
          <li id="home"><a href="/home">HOME</a></li>
          <li id="about"><a href="/about">ABOUT US</a></li>
          <li id="contact"><a href="/contact">CONTACT US</a></li>
          <li id="contact"><a href="/compose">COMPOSE</a></li>
          <li id="contact"><a href="/signup">SIGN UP</a></li>
          <li id="contact"><a href="/login">LOG IN</a></li>
        </ul>
    </div>
  </nav>

  <body style="max-height: 1000px;">
    <div class="container">
