<%-include('partials/header');-%>

   <div class="cont headingContact"><h1>Contact Us</h1></div>

        <div class="top">
            <h5><strong>Ayush</strong></h5>
            <div class="bottom" >
                <strong>+91123456789
                    EMAIL:Ag.g@protonmail.com</strong>
            </div>
        </div>
        
    






<%-include('partials/footer');-%>
